/packages
*resharper.user
*.userprefs
[Dd]ebug
[Rr]elease
[Bb]in
[Oo]bj
deploy
deploy/*
build
artifacts
src/CommonAssemblyInfo.cs
*.suo
*.cache
*.sass-cache
_ReSharper.*/
*[Rr]e[Ss]harper*
*.user
.git/
*.pidb
*.DS_Store
TestResult.xml