#jquery
jquery is jquery-1.7.1.min.js

#jquery.validate
ordered set jquery.validate is
jquery
jquery.validate.min.js

#jquery.ui
ordered set jquery.ui is
jquery
jquery-ui-1.8.16.js

#jqgrid.ui.styles
ordered set jqgrid.ui.styles is
themes/base/minified/jquery.ui.all.min.css

#jqgrid
ordered set jqgrid is
jquery.ui
i18n/grid.locale-en.js
jquery.jqGrid.min.js


#bootstrap.styles
ordered set bootstrap.styles is
bootstrap.min.css

#bootstrap.scripts
ordered set bootstrap.scripts is
jquery
jquery.ui
bootstrap-alerts.js
bootstrap-buttons.js
bootstrap-dropdown.js
bootstrap-modal.js
bootstrap-twipsy.js
bootstrap-popover.js
bootstrap-scrollspy.js
bootstrap-tabs.js


#jqgrid.styles
ordered set jqgrid.styles is
bootstrap.styles
jqgrid.ui.styles
jquery.jqGrid/ui.jqgrid.css

#products.add.scripts
ordered set products.add.scripts is
bootstrap.scripts
jquery.validate
jquery.form.js
products.add.js

#products.delete.scripts
ordered set products.delete.scripts is
jquery

#products.edit.scripts
ordered set products.edit.scripts is
jquery

#products.home.scripts
ordered set products.home.scripts is
jqgrid
products.home.js

#products.home.styles
ordered set products.home.styles is
jqgrid.styles
