ApplicationSettings.ApplicationSourceName=ProductsManagement.ProductsManagementApplication, ProductsManagement, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
ApplicationSettings.Port=5500
ApplicationSettings.Name=ProductsManagement
ApplicationSettings.RootUrl=http://localhost:5500/
ApplicationSettings.PhysicalPath=C:\Users\Jaime\Documents\Visual Studio 2010\Projects\ProductsManagement\src\ProductsManagement
